<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @order.amount %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Type:</b>
  <%= @order.type %>
</p>

<p>
  <b>Amount remain:</b>
  <%= @order.amount_remain %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @order.timestamp %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
