<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cash %><br />
    <%= f.text_field :cash %>
  </div>
  <div class="field">
    <%= f.label :bitcoin %><br />
    <%= f.text_field :bitcoin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
