<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @asset.user_id %>
</p>

<p>
  <b>Cash:</b>
  <%= @asset.cash %>
</p>

<p>
  <b>Bitcoin:</b>
  <%= @asset.bitcoin %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
